<html>
 <head>
    <title>Bookers</title>
 </head>
 <body>
    <header>
        <h2>Bookers</h2>
    </header>

    <div class="body-text">
        <h1>welcome to<strong> Bookers</strong> !!</h1>
        <P> In<strong>Bookers</strong>,<br>
            you can share and exchange your opinions , inpressions , and emotions<br>
        about varioius books!</P>
    </div>

    <a href="/users/sign_in"> Log in</a>
    <a href="/users/sign_up"> Sign Up</a>

    <footer>
         <p>CopyRight Infratop.inc</p>
    </footer>

 </body>
</html>