
	<title>Bookers</title>
</head>
<body>

<div class="top-text">
	<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!!</h1>
    <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,<br>
    	you can share and exchange your opinions , inpressions , and emotions<br>
    	about varioius books!
    </p>
</div>

<div class="regi">
   <p>
	<%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %><br>
	<%= link_to 'Sing up', new_user_registration_path, class: "btn btn-success" %><br>
   </p>
</div>

</body>


</html>